<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    
    @Scripts.Render("~/bundles/modernizr");
    <link rel="stylesheet" type="text/css" href="~/Content/CSS Webpages/MenuBarCss.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/CSS Webpages/FileClaimCss.css" />
    <link />

</head>
<body>
    <div class="informationBar">
        <a href="#" class="barItemButton"> <img src="~/Resource/Claimy_Logo_OG.png" width="100" height="50" /></a>
        <a href="#" class="barItemButton">File claim</a>
        <a href="#" class="barItemButton">About Us</a>
    </div>

    <div style="overflow-y:auto;" class="column">
        <table class="InformationBoxes">
            <tr>
                <td>
                    <label style="margin-right: 25px">Name</label>
                    <input style="border-color:deepskyblue" id="NameTextBox" />
                </td>
            </tr>
            <tr>
                <td>
                    <label style="margin-right: 25px">City</label>
                    <input style="border-color:deepskyblue" id="CityTextBox" />
                </td>
            </tr>
            <tr>
                <td>
                    <label style="margin-right: 25px">Ticket amount</label>
                    <input style="border-color:deepskyblue" id="TicketAmountTextBox" />
                </td>
            </tr>
            <tr>
                <td>
                    <label style="margin-right: 25px">Parking Department</label>
                    <input style="border-color:deepskyblue" id="ParkingDepartmentTextBox" />
                </td>
            </tr>
            <tr>
                <td>
                    <label style="margin-right: 25px">Ticket ID</label>
                    <input style="border-color:deepskyblue" id="TicketIDTextBox" />
                </td>
            </tr>
            <tr>
                <td>
                    <label style="margin-right: 25px">Time of Day</label>
                    <input style="border-color:deepskyblue" id="ToDTextBox" />
                </td>
            </tr>
        </table>
    </div>

    <div class="ImageBox">
        <h2>Upload a picture of the fine</h2>
        <form action="/action_page.php">
            <input type="file" name="ticketPicture" accept="image/*">
            <input type="submit">
        </form>
    </div>
    <div class="ParkingImage">
        <h2>Upload a picture of your parked car(optional)</h2>
        <form action="/action_page.php">
            <input type="file" name="parkingPicture" accept="image/*" />
            <input type="submit" />
        </form>
    </div>

    <!--Used for testing input-->

    <input type="button" value="Click Me" id="myButton" />

    <script>
        document.getElementById("myButton").onclick = function()
{
            window.alert(document.getElementById('NameTextBox').value);
            window.alert(document.getElementById('CityTextBox').value);
            window.alert(document.getElementById('TicketAmountTextBox').value);
}
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!--random comment-->
</body>
</html>
